.info0001{
    background-color:blue;
    color:gray;
    border-color: blue;
    border-radius:7px;
    text-align: center;
}

.list{
    text-decoration: none;
    list-style-type:none;
    border: groove 1ex black;
    width: auto;
    height: 2ex;
    background-color: white;
    color: gray;
    display:inline;
}
a:link{
    color: gray;
}
a:visited{
    color: gray;
}
a:hover{
    color: lightblue;
}
a{
    text-decoration:solid;
}


li {
    margin: 2rem 0;
}
head {
    background: red;
    padding: .10rem;
    text-align: right;
}
#title{
    font-size:2em;
}

